<head>
<title>My Dune, My Arrakis</title>
{{ $sass := resources.Get "sass/style-index.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
<link rel="stylesheet" type="text/css" href="/css/theme.css" />
<link rel="icon" type="image/x-icon" href="/media/favicon.gif">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script type="text/javascript" src="/js/theme.js"></script>
</head>