<header>
	<script>
		
		const theme = new Theme();
		theme.install(document.body);
		theme.start();
		
		let loadTheme = (name) => {
			fetch(`/themes/${name}.svg`).then((response) => {
				return response.text()
			}).then((svg) => {
				theme.load(svg)
			}).catch(err => {
				console.error(err)
			})
		}
	</script>
	
	
	<nav>
		<div class="logoimg">
			<a href="/">{{ partial "marceloexc-logo.html" }}</a>
		</div>
		<ul class="tabs">
			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}" aria-label="{{ .Name }}">
					{{ if $currentPage.IsMenuCurrent .Menu . }}<span class="active"><b>[</b></span>{{ end }}{{ .Name }}{{ if $currentPage.IsMenuCurrent .Menu . }}<span class="active"><b>]</b></span>{{ end }}
				</a>
			</li>
		{{ end }}
		</ul>
	</nav>
</header>