<div class="aside-box">
	<h2><b>Change theme<b></h2>
	<select id="theme-picker"  onchange="loadTheme(this.value)" value="" tabindex="0">
		<option value="" disabled selected>Select your option</option>
	
		<option disabled="">⚪️ Light Themes</option>
		<option value="coal">🪨Coal</option>
		<option value="salmon">🍣Salmon (Default)</option>
		<option value="ritualdust-summer">☀️Summer (ritualdust.com)</option>
		<option value="white-default">🏳️White</option>
		<option disabled=""></option>
		<option disabled="">⬛️ Dark Themes</option>
		<option value="apollo">🛰️Apollo</option>
		<option value="battlestation">🖥️Battlestation</option>
		<option value="cobalt">🔋Cobalt</option>
		<option value="frameio">🎥Frame.io</option>
		<option value="gotham">🦹🏻Gotham</option>
		<option value="laundry">🧺Laundry</option>
		<option value="murata">⚙️Murata</option>
		<option value="ninetynine">9️⃣Ninetynine</option>
		<option value="nord">₻Nord</option>
		<option value="obsidian">🧗‍♂️Obsidian</option>
		<option value="solarised.dark">🌄Solarized Dark</option>
		<!-- <option value="soyuz">Soyuz</option> -->
		<option value="vacuui">🚤Vacuui</option>
	</select>
	<noscript>
		<p>Javascript is required for custom themes.</p>
	</noscript>
	<h3><a href="/about/themes">What is the theme system?</a></h3>
</div>