

body {
	background:var(--background);
	
}

main {
	background:var(--b_low);
}
footer {
	background-color:var(--b_med);
	h1,p,h2,h3,h4,a {
		color: var(--f_low);
	}
}

select {
	appearance:none;
	border: solid 1px var(--f_high);
	outline: 0;
	font: "FT88 Serif";
	width: 20em;
	height: 3em;
	padding: 0 4em 0 1em;
	background: url("/media/caret-square-rounded-down.svg")
	  no-repeat right 0.8em center / 1.4em;
	cursor: context-menu;
	color: var(--f_high);
}

a:hover:not(.no-hover):not(.clickbox) {
	background-color:var(--b_med);
	color:var(--b_inv);
	cursor: alias;
}

hr {
  border: none;
  border-top: 1px solid var(--f_high);
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

::selection {
	background-color: var(--b_med);
	color:var(--b_inv);
}

