
@font-face  {
	font-family: "FT88 Gothique";
	src: url("/fonts/FT88-Gothique.woff2");
}

@font-face  {
	font-family: "jgs9";
	src: url("/fonts/jgs9.woff2");
}

@font-face  {
	font-family: "Lack-Regular";
	src: url("/fonts/Lack-Regular.woff");
}

@font-face  {
	font-family: "Victor Mono SemiBold";
	src: url("/fonts/VictorMono-SemiBold.woff2");
}

@font-face {
	font-family: "Millimetre Light";
	src: url("/fonts/Millimetre-Light_web.woff2");
}


@font-face {
	font-family: 'AUTHENTIC Sans';
	src: url("/fonts/AUTHENTICSans-90.woff2") format("woff2"),
	url("/fonts/AUTHENTICSans-90.woff") format("woff"),
	url("/fonts/AUTHENTICSans-90.otf");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Emotion Engine";
	src: url("/fonts/EmotionEngine-8ynA.ttf");
	font-style: normal;
}


@font-face {
	font-family: "FT88 Serif";
	src: url("/fonts/FT88-Serif.woff2");
}

@font-face {
	font-family: "FT88 Bold";
	src: url("/fonts/FT88-Bold.woff2");
}

