$small-screen: 300px;
$medium-screen: 768px;
$large-screen: 950px;

@mixin bordered($color) {
	border: solid 1px $color;
	border-collapse: collapse;
}

nav {
	display: grid;
}

.logo {
	padding: 1em;
}


.tabs {
	list-style: none;
	padding: 0;	
	margin: 0;
	// Border trickery to stop elements with no gap have
	// overlapping borders
	li {
		a {
			text-decoration: none;
		}
		border-left: solid 1px var(--f_high);
	}
	li + li {
		border-left: solid 1px var(--f_high);
	}
	li:last-child {
		border-right: solid 1px var(--f_high);
	}
	// That is so fucking stupid
}



body {
	display: grid;
	margin: 0 auto;
	grid-template-areas: 
		'header'
		'main-content'
		'aside'
		'footer';
	> header {
		grid-area:header;
	}
	> main {
		grid-area:main-content;
		min-height: 80vh; 
		/* this stretches the page all the way to the bottom */
	}
	> aside {
		grid-area:aside;
	}
	> footer {
		grid-area:footer;
	}
}


// small screens


@media (max-width: $small-screen) {
	.logoimg {
		border-left: solid 1px var(--f_high);
	}
	.tabs{	
		display:  flex;
		flex-wrap:wrap;
		>* {
			border: 1px solid var(--f_high);
			margin: 2px;
		}
	}
	
	.link-box {
		grid-template-columns: none;
	}
		
}

// Medium sized screens
@media (min-width: $small-screen) {

	nav {
	border: solid 1px var(--f_high);
	}
	// body {
	// 	grid-template-columns: 1fr 1fr;
	// 	grid-template-areas:
	// 		'header header'
	// 		'main-content main-content'
	// 		'aside aside'
	// 		'footer footer';
	// }
	.logoimg {
		> * {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.tabs {
	 display: flex;

	}


}

// Largest screens
@media (min-width: $large-screen) {
	nav {
	grid-template-columns: minmax(300px, 300px) 1fr;
	}
	.tabs {
		li {
			padding: 0;
			a{ 
				padding-inline: 12px;
				padding-block: 11px;
			}
		}
		> * {
			display:grid;
			place-items: center;
		}
	}
	
	#toggle-sidebar:checked ~ * body {
	grid-template-areas:
			'header'
			'main-content'
			'footer';
	}
	body {
		grid-template-columns: minmax(302px, 302px) 1fr;
		grid-template-areas:
			'header header header header header header'
			'aside main-content main-content main-content main-content main-content'
			'footer footer footer footer footer footer';
	}
	.logo {
		width: 60%;
	}
	aside {
		border-inline: 1px solid var(--f_high);
	}
	
	/* Add this to your CSS */
	#toggle-sidebar:checked ~ aside {
		display: none; /* Hide the left sidebar when the checkbox is checked */
	}
	
	.link-box {
		max-width: 1000px;
		grid-template-columns: repeat(auto-fill, minmax(calc(50% - 0.5rem), 1fr));
	}
}

@media(max-width: $large-screen) {

	main {
		h1 {
			font-size: 38px;
		}
		border-bottom: solid 1px $f_high;
	}
	.logo {
		width: 40%;
		padding: 12px;
	}
	.logoimg {
		border-bottom: solid 1px var(--f_high);
		> * {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-block: 0.3em;
		}
	}
	.tabs {
		align-items: center;
		  justify-content: center;

		li a {
			font-size: 17px;
			padding-inline: 6px;
			padding-block: 3px;
		}
	}
	
	nav {
	border-bottom: solid 1px var(--f_high);
	}

}

.link-box {
	list-style: none;
	padding: 0;
	gap: 1rem;
	display: grid;
	.list-link {
		border: 1px solid var(--f_high);
		border-bottom-width: 2px;
		flex-grow: 1;
		padding: 4px;
		.list-link-image {
			height: 200px;
			width: 100%;
			img {
				object-position: center;
				object-fit: cover;
				max-width: 100%;
				width: 100%;
				height: 200px;
			} 
		}
		.list-link-text {
			h2, p{
				margin:0;
			}
			h2 {
				color: var(--f_med);
			}
			h2::after {
					content: '→';
			}
			padding-inline: 12px;
			padding-top: 10px;
			padding-bottom: 15px;
		}
	}
	:active {
		scale:.99;
	}
}

.aside-box {
	display: grid;
	justify-content: center;
	align-items: center;
}

.active {
	color:var(--f_med);
	font-weight: 500;
}
