$font-size-h1: 72px;
$font-size-h2: 32px;
$font-size-h3: 20px;
$font-size-p: 16px;
$font-size-figcaption: 12px;



main h1 {
	Font: $font-size-h1 "Lack-Regular";
	line-height:0.9;
	margin-block: 0.5em;
}

h2, legend{
	font:$font-size-h2 "Lack-Regular";
}

.tabs a {
	// font: 19px "FT88 Gothique";
	font: 19px "Emotion Engine";
}

h3, th{
	font: $font-size-h3 "Lack-Regular";
}

// headings styling
main {
	
	
	.no-external-icon{
		text-decoration: none;
		color:inherit;
	}
	
	// headings styling
	h3 {
		color: var(--f_inv);
		background-color: var(--f_med);
		padding-inline: 0.8rem;
		padding-block: 0px;
		display: inline-block;
		position: relative; /* Add this to make the position relative */
		margin: 0; /* Remove margin to eliminate the gap */
		margin-right: 2.3em;
		::after {
			content: "";
				position: absolute;
				bottom: 0; /* Position it at the bottom */
				left: 100%; /* Position it to the right of the paragraph */
				width: 50%; /* 1/4 of the width */
				height: 25%; /* 1/4 of the height */
				background-color: var(--f_med); /* Color of the rectangle */
				max-width: 45px;
	  	}
	}
	
	pre {
	overflow-x:auto;/* Enable horizontal scrollbar */
	margin: 10px;
	padding: 0.5em;
	background: var(--b_med);
	color: var(--f_high);
	font: 13px "Victor Mono SemiBold";
	border: 1px solid var(--f_high);
	max-width:calc(100vw - 90px);
	}
	
}

p, ul, li, details, td{
	font:$font-size-p "AUTHENTIC Sans";
	line-height: 1.6;
}

figcaption {
	font: $font-size-figcaption "AUTHENTIC Sans";
	padding-block: 2px;
	color: var(--f_high);
}
main a,
aside a {
	color:var(--f_low);
}

fieldset {
	border: 1px solid var(--f_high);
}


h1, h2, h3, p, a,		ul, li, svg, legend, details, td, th{
	color:var(--f_high);
}

td, th {
	padding: 0.5em;
}


main a:not([href^=http]):not(.no-external-icon):not(.gallery):not(.clickbox)::after,
aside a:not([href^="{{ (urls.Parse .Page.Permalink).Scheme }}://{{ (urls.Parse .Page.Permalink).Host }}"]):not(.no-external-icon)::after
{
  content: '→';
}

a[href^=http]:not(.gallery):not(.no-external-icon)::after { 
	content:'↗';
 }

main, aside {
   a, 
   li a {
	 font-family: "Lack-Regular";
	 color: var(--f_med);
   }
 }

aside {
	h3 {
		font-size: 99%;
	}
	h2 {
		font-size: 180%;
		}
	li {
		margin: 0;
		list-style: inside;
	}
}
