:root {
	--background: #D7C6B8; /* back */
	
	  --f_high: #1E1D1D; /* f_high */
	  --f_med: #25296B; /* f_med */
	  --f_low: #523d2c; /* f_low */
	  --f_inv: #3f4f5b; /* f_inv */
	
	  --b_high: #E7D8C8; /* b_high */
	  --b_med: #CEC7C0; /* b_med */
	  --b_low: #E9E2D8; /* b_low */
	  --b_inv: #8c5a3d; /* b_inv */
}


/* Typography */

@font-face  {
	font-family: "FT88 Gothique";
	src: url("../fonts/FT88-Gothique.woff2");
}

@font-face  {
	font-family: "jgs9";
	src: url("../fonts/jgs9.woff2");
}

@font-face  {
	font-family: "Lack-Regular";
	src: url("../fonts/Lack-Regular.woff");
}

@font-face  {
	font-family: "Victor Mono SemiBold";
	src: url("../fonts/VictorMono-SemiBold.woff2");
}

@font-face {
	font-family: "Millimetre Light";
	src: url("../fonts/Millimetre-Light_web.woff2");
}

@font-face {
	font-family: 'AUTHENTIC Sans';
	src: url("/fonts/AUTHENTICSans-90.woff2") format("woff2"),
	url("/fonts/AUTHENTICSans-90.woff") format("woff"),
	url("/fonts/AUTHENTICSans-90.otf");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FT88 Serif";
	src: url("../fonts/FT88-Serif.woff2");
}

@font-face {
	font-family: "FT88 Bold";
	src: url("../fonts/FT88-Bold.woff2");
}



 /* FONT STYLE DECLARATIONS!! and COLOR  */
h1 {
	Font: 72px "Menlo";
	line-height:0.9;
	margin-block: 0.5em;
}

h2, legend{
	font:32px "Menlo";
}

.navbar a {
	font: 22px "FT88 Gothique";
}

h3, th{
	font: 19px "Lack-Regular";
}

p, a, ul, li, details, td{
	font:17px "AUTHENTIC Sans";
	line-height: 1.6;
}

figcaption {
	font: 16px "AUTHENTIC Sans 60";
	/* TODO: really necessary? */
}
main a,
aside a,
figcaption {
	color:var(--f_low);
	/* TODO: just a[not] nav would be better */
	/* 6 days later...wait...what did i mean by this? */
}

fieldset {
	border: 1px solid var(--f_high);
}


h1, h2, h3, p, ul, li, svg, legend, details, td, th{
	color:var(--f_high);
}

td, th {
	padding: 0.5em;
}


body a,
aside li a,
aside a {
	font-family: "Lack-Regular";
	color: var(--f_med);
}


details {
	margin-bottom: 1em;
	padding: 5px 5px 5px 5px;
	border: 1px solid var(--f_high);
	font-weight:bold;
	/* max-width: 50ch; TODO: Uncomment this */
}



a:hover {
	background-color:var(--b_inv);
	color:var(--f_high);
}

::selection {
	background-color: var(--b_high);
	color:var(--b_inv);
}


pre, code {
	font:  "Victor Mono SemiBold"; 
	/* TODO: why not just use regular system monospae font? */
	color: rgb(255,255,255);
	background-color: rgb(57, 51, 39);
	padding:3px;
}

blockquote p {
	font-size: 26px !important;
	font-family: "Millimetre Light";
	padding-left: 16px;
	border-left: 2px dotted;
}


.navbar a:hover {
	cursor: cell;
}

html {
	scrollbar-color: var(--f_med) var(--b_med);
	scrollbar-width: 30px;
}

/* the beginning */

.floatright {
	float: right;
	max-width: 45%;
}

.wrap {
	flex-wrap: wrap;
}

.flex {
	display: flex;
}

.home-link {
	align: center;
	flex-grow: 2;
	max-width: calc(49% - 0.5rem);
}


.home-image {
	position: relative;
	height: 300px;
	width: 100%;
	overflow: hidden;
	border: solid 1px var(--f_high);
}

.home-img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 300px;
	min-width: 400px;
}


.readable-text {
	position: absolute;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	height:300px;
	width:100%;
}

/* .readable-text h1 {
	font: 150px "Lack-Regular";
	transform: scale(1, 3);
	transform-origin: 0 0;
	margin: 0;
	opacity: 30%;
	line-height:0.6;
	text-align: center;
} */


.readable-text h1 {
	font: 200px "Lack-Regular";
	margin: 0;
	mix-blend-mode: hard-light;
	opacity: 50%;
	line-height:0.6;
	text-align: left;
	color: white;
}

/* this is the same css, copied, im repeating myself. fix this! TODO:  */

.marquee {
	position: absolute;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	height:300px;
	width: 100%;
}
.marquee h1 {
	display: inline-block;
	font: 80px "Lack-Regular";
	text-align: left;
	padding-left: 100%;
	animation: marquee 10s linear infinite;
	text-shadow: 5px 5px var(--b_med);
	margin: 0;
	padding-top: 220px;
}
.marquee h1:hover {
	animation-play-state: paused;
	color: var(--b_med);
	text-shadow: 5px 5px var(--b_inv);
}

.marquee h1::after {
	content: '→';
}

a{
	font-family: "Lack-Regular";
}


a[href^="http"]:not([href^="{{ (urls.Parse .Page.Permalink).Scheme }}://{{ (urls.Parse .Page.Permalink).Host }}"]):not(.no-external-icon)::after
{
  content: '→';
}




@keyframes marquee {
	0%   { transform: translate(0, 0); }
	100% { transform: translate(-100%, 0); }
}

body {
	background:var(--background);

	margin: 0;
}

main {
	background:var(--b_low);
}
footer {
	background-color:var(--b_med);
}

footer h1 {
	color: var(--f_med);
}


select {
	appearance:none;
	-webkit-appearance: none;
	border: solid 1px var(--f_high);
	outline: 0;
	font: "FT88 Serif";
	width: 20em;
	height: 3em;
	padding: 0 4em 0 1em;
	background: url("/media/caret-square-rounded-down.svg")
	  no-repeat right 0.8em center / 1.4em;
	color:var(--f_high);
	cursor: pointer;
}


option {
	color: inherit;
	background-color: $option;
  }


/* image boxes   */


/* ============================== */
/* fixing things to stop overflow */
/* ============================== */


@media (min-width:950px) {
	nav {
		display: grid;
		
	}
	.navbar {
		display: grid;
		
	}
	.logo {
	padding: 1.3em;
	}
}

@media (min-width:768px) {
	nav {
		display: grid;
	}
	.navbar {
		display: flex;
	}
	.navbar > * {
		padding-block: 10px;
	}
	.logo {
		border-left:solid 1px var(--f_high);
		padding-block: 1.3em;
	}
}

@media (max-width:768px) {
	
	/* TODO: two different media query sections on css. fix whenever possible */
	/* TODO: create custom .flex {display: flex;} classes to stop reduplicating */
	
	.navbar {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border-left: solid 1px var(--f_high);
		padding-block: 1em;
		
		/* removes attachment from left side of navbar and puts it in center */
		/* allows for grid when viewed on small screen */
	}
	.navbar > * {
		padding-block: 10px;
	}
	h1 {
		font-size: 48px;
		/* small devices cant view 72px h1's! */
	}


}

@media (max-width: 600px) {
	.home-link {
		max-width: 100%;
		min-width: 100px;
		margin-inline: 10px;
	}
	.readable-text h1 {
		font-size:  180px;
	}
}

main {
	word-wrap: break-word;
	word-break: break-word;
	
}

td img,
th img {
	max-width: 100%;
	max-height: 100%;
	/* stops overflowing images inside of tables */
}

	nav > * {
		border-block: solid 1px var(--f_high);
		border-right: solid 1px var(--f_high);
	}
	
	/*  TODO: this does not belong here */

	.logo {
	 display: block;
	 align-items: center;
	 width: auto;
	 height: 18px;
	 padding-inline: 1em;
	 overflow: hidden;
	}


.logo:hover {
	/* background-size: 300%; */
	color: var(--b_inv);
}

aside {
	border-inline: solid 1px var(--f_high);
	border-bottom: solid 1px var(--f_high);
	padding:1em;

}

main h1,
aside h1, h2 {
	border-bottom: solid 1px var(--f_high);
}

aside li > * {
	font-size:14px;
}

main {
	border-bottom: solid 1px var(--f_high);
	padding-inline: 2em;
	padding-top:0.5em;
	box-sizing: border-box;
	padding-bottom:5em;
}

pre {
  word-wrap: normal;
  overflow-x: auto;
  white-space: pre;
}
