<html>
{{ partial "head-homepage.html"}}
<body>
	<nav>
		<div class="navbar">
		{{ partial "marceloexc-logo.html"}}
		</div>
	</nav>
	<div>
		<main>
			<h1>
				Marcelo's Homepage
			</h1>
			<p>
				Website still under massive construction, lo these many years
			</p>
			
			<ul class = "flex wrap link-box ">
				<a class="list-link no-external-icon" href="/about">
					<li style="list-style: none;">
						<div class="list-link-image">
							<img src="/media/Animation.gif"/>
						</div>
						<div class="list-link-text">
							<h2>
								About
							</h2>
							<p>
								Everything there is to know
							</p>
						</div>
					</li>
				</a>
				
				<a class="list-link no-external-icon" href="/gallery">
					<li style="list-style: none;">
						<div class="list-link-image">
							<img src="/media/Galleries_full.jpg"/>
						</div>
						<div class="list-link-text">
							<h2>
								Gallery
							</h2>
							<p>
								Pictures taken on various cameras
							</p>
						</div>
					</li>
				</a>
				
				<a class="list-link no-external-icon" href="/projects">
					<li style="list-style: none;">
						<div class="list-link-image">
							<img src="/media/projects3.png"/>
						</div>
						<div class="list-link-text">
							<h2>
								Projects
							</h2>
							<p>
								Always a work in progress
							</p>
						</div>
					</li>
				</a>
				
				<a class="list-link no-external-icon" href="/blog">
					<li style="list-style: none;">
						<div class="list-link-image">
							<img src="/media/projects3.png"/>
						</div>
						<div class="list-link-text">
							<h2>
								Journal
							</h2>
							<p>
								Incoherent Rambling
							</p>
						</div>
					</li>
				</a>
			</ul>
			
			<!-- <section class="links">
			
			</a>
			
			<a class="clickbox clickimg" href="/projects">
				<picture>
					<source srcset="/media/projects_full.png" media="(max-width:716px)">
					<img src="/media/projects3.png" alt="Main header image for the about section"/>
				</picture>
				<div class="clickdiv">
					<h3>
						Projects</h3>
					<p>
						Everything unfinished or undreamt of as of yet
					</p>
				</div>
			</a>
			<a class="clickbox clickimg" href="/blog">
				<picture>
					<img src="/media/blog.jpg" alt="Main header image for the about section"/>
				</picture>
				<div class="clickdiv">
					<h3>
						Blog</h3>
					<p>
						nothing here yet...
					</p>
				</div>
			</a>
			<a class="clickbox clickimg" href="/links">
				<picture>
					<img src="/media/links_lowres.jpg" alt="Main header image for the about section"/>
				</picture>
				<div class="clickdiv">
					<h3>
						Links</h3>
					<p>
						from the information super-highway
					</p>
				</div>
			</a>
			<a class="clickbox clickimg" href="/museum">
				<picture>
					<img src="/media/projects1.jpg" alt="Main header image for the about section"/>
				</picture>
				<div class="clickdiv">
					<h3>
						Museum</h3>
					<p>
						All archival stuff, hosted on this website at a previous time
					</p>
				</div>
			</a>
			</section> -->
			<p>
		  	{{ range .Site.Taxonomies.tags.ByCount }}
				 	#<a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})
		  	{{ end }}
			</p>
		<main>
	</div>
	{{ partial "themepicker.html"}} 
</body>
{{ partial "header-dup.html"}}
{{ partial "home.html"}}
{{ partial "footer.html"}}
</html>